#"admin_required": "role:admin or role:admin_ucp"

#"service_or_admin": "rule:admin_required or rule:service_role"

#"service_role": "role:service"

#"admin_viewer": "role:admin_ucp_viewer or rule:service_or_admin"

# Install manifest charts
# POST  /api/v1.0/apply/
#"armada:create_endpoints": "rule:admin_required"

# Validate manifest
# POST  /api/v1.0/validatedesign/
#"armada:validate_manifest": "rule:admin_viewer"

# Test release
# GET  /api/v1.0/test/{release}
#"armada:test_release": "rule:admin_required"

# Test manifest
# POST  /api/v1.0/tests/
#"armada:test_manifest": "rule:admin_required"

# Get helm releases
# GET  /api/v1.0/releases/
#"armada:get_release": "rule:admin_viewer"

# Get Tiller status
# GET  /api/v1.0/status/
#"tiller:get_status": "rule:admin_viewer"

