click
configparser
deepdiff<=5.8.1
docutils<=0.17
falcon
gitpython
importlib-metadata~=2.0
Jinja2<=3.0.3
jsonschema<=3.2.0
keystoneauth1<=5.1.1
kubernetes==26.1.0
MarkupSafe<2.1.0, >=0.9.2
nose
oslo.config<=8.7.1
oslo.i18n
oslo.log<=4.6.0
oslo.policy<=3.10.1
oslo.middleware<=4.4.0
keystonemiddleware<=10.2.0
oslo.utils<=4.12.3
Paste>=2.0.3
PasteDeploy>=1.5.2
prometheus-client==0.8.0
pylibyaml==0.1.0
python-dateutil==2.8.1
PyYAML<=5.4.1
reno
requests==2.23.0
retry
setuptools<=65.5.1
six
Sphinx==3.3.1
sphinx_rtd_theme==0.5.0
urllib3 >= 1.21.1, <= 1.25.11
uWSGI==2.0.21
wheel