click
deepdiff
falcon
GitPython
jsonschema
kubernetes
mock
paste
PasteDeploy
packaging
pbr
prometheus-client
pylibyaml
python_dateutil
python-memcached
PyYAML
Requests
responses
retry
testtools
urllib3
uWSGI

# Openstack Epoxy 2025.1
# https://releases.openstack.org/epoxy/index.html
barbican==20.0.0

python-barbicanclient==7.1.0
python-keystoneclient==5.6.0

keystoneauth1==5.10.0
keystonemiddleware==10.9.0

oslo.cache==3.10.2
oslo.concurrency==7.1.0
oslo.config==9.7.1
oslo.context==5.7.1
oslo.db==17.2.1
oslo.i18n==6.5.1
oslo.log==7.1.0
oslo.messaging==16.1.0
oslo.metrics==0.11.0
oslo.middleware==6.3.1
oslo.policy==4.5.1
oslo.serialization==5.7.0
oslo.service==4.1.1
oslo.upgradecheck==2.5.0
oslo.utils==8.2.0
oslo.versionedobjects==3.6.0