click
deepdiff
falcon
GitPython
jsonschema
kubernetes
mock
paste
PasteDeploy
packaging
pbr
prometheus-client
pylibyaml
python_dateutil
python-memcached
PyYAML
Requests
responses
retry
testtools
urllib3
uWSGI

# Openstack Gazpacho 2026.1
# https://releases.openstack.org/gazpacho/index.html
barbican==22.0.0

python-barbicanclient==7.3.0
python-keystoneclient==5.8.0

keystoneauth1==5.13.1
keystonemiddleware==12.0.0

oslo.cache==4.1.1
oslo.concurrency==7.4.1
oslo.config==10.3.0
oslo.context==6.3.0
oslo.db==18.0.0
oslo.i18n==6.7.2
oslo.log==8.1.0
oslo.messaging==17.3.0
oslo.metrics==0.15.1
oslo.middleware==8.0.0
oslo.policy==5.0.0
oslo.serialization==5.9.1
oslo.service==4.5.1
oslo.upgradecheck==2.7.1
oslo.utils==10.0.1
oslo.versionedobjects==3.9.0