# General
tox

# Docs
sphinx>=1.6.2
sphinx_rtd_theme>=0.2.4

# Testing
bandit
coverage!=4.4,>=4.5.1 # Apache-2.0
testtools>=2.3.0 # MIT
os-testr>=1.0.0 # Apache-2.0
flake8>=3.3.0
mock
responses>=0.8.1
yapf
